{% import '_includes/forms' as forms %}

<h2>Image transforms</h2>

<p class="instructions">
	By default, Retcon HTML will store all transformed images to directories relative to your public basepath.<br/>If this doesn't float your boat, you can set a different basepath and URL below.
</p>

<div class="field" id="baseTransformPath-field">

	<div class="heading">
		<label for="baseTransformPath">Base transform path</label>
		{{ forms.text({
			id: 'baseTransformPath',
			name: 'baseTransformPath',
			value : settings.baseTransformPath,
			placeholder : placeholderBasePath,
		}) }}
	</div>

</div>

<div class="field" id="baseTransformUrl-field">

	<div class="heading">
		<label for="baseTransformUrl">Base transform URL</label>
		{{ forms.text({
			id: 'baseTransformUrl',
			name: 'baseTransformUrl',
			value : settings.baseTransformUrl,
			placeholder : placeholderBaseUrl,
		}) }}
	</div>

</div>

<h2>Other settings</h2>

<div class="field" id="encoding-field">

	<div class="heading">
		<label for="encoding">HTML encoding</label>
		{{ forms.text({
			id: 'encoding',
			name: 'encoding',
			value : settings.encoding,
			placeholder : placeholderEncoding,
		}) }}
		<p class="instructions">Sets the encoding of any returned HTML</p>
	</div>

</div>

<hr />